<h1>Hello App</h1>
<h1>Routing</h1>
<a routerLink="">Home</a>
<br/>
<a routerLink="about">About</a>
<br/>
<a routerLink="user">User</a>
<br/>
<br/>
<a routerLink="user/1">User 1</a>
<br/>
<a routerLink="user/2">User 2</a>
<br/>
<a routerLink="user/3">User 3</a>
<br/>
<router-outlet></router-outlet>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-header></app-header>
<app-login></app-login>
<button (click)="getData('click')">Click me</button>    
<input type="text" #box (keyup)="getData(box.value)"    placeholder="Enter "/>
<p>
  {{data}}
</p>
<input type="text" name="user-name" value={{name}} disabled="{{disable1}}" placeholder="input1"/> //interpolation
<br/>
<input type="text" name="user-name" [value]=name [disabled]=disable1 placeholder="input2"/> //property binding
<br/>
<input type="text" name="user-name" value={{name}} disabled="{{disable2}}" placeholder="input3"/>    
<br/>
<input type="text" name="user-name" [value]=name [disabled]=disable2 placeholder="input4"/>    

<h1 *ngIf="show ; then ifBlock else elseBlock">Heading</h1>
<ng-template #ifBlock>
  <p>if block</p>
</ng-template>
<ng-template #elseBlock>
  <p>else block</p>
</ng-template>
<ng-template [ngIf]="color==='red'">
<h1 style="color:red;">Red Color</h1>
</ng-template>


<ng-template [ngIf]="color==='green'">
    <h1 style="color:green;">Red Color</h1>
    </ng-template>

<div [ngSwitch]="color2">
    <h1 *ngSwitchCase="'red'" style="color:red;" >Red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color:green;" >Green Color</h1>
    <h1 *ngSwitchCase="'blue'" style="color:blue;" >Blue Color</h1>
    <h1 *ngSwitchCase="'yellow'" style="color:yellow;" >Yellow Color</h1>
    <h1 *ngSwitchCase="'orange'" style="color:orange;" >Orange Color</h1>

</div>
<h3 *ngFor="let item of users">Name is : {{item}}</h3>
<h3 *ngFor="let item of userDetails">Details is : {{item.name}} --- {{item.email}} ----{{item.age}}</h3>
<h1 [style.Color]="color" [style.backgroundColor]="bgColor">{{title}}</h1>
<button (click)="updateColor()">Change Color</button>

<!-- <form #basicForm="ngForm" (ngSubmit)="getData2(basicForm.value)">
  <input type="text" name="name" ngModel placeholder="Enter Name" required/>
  <br/>
  <input type="email" name="email" ngModel placeholder="Enter Email" required/>
  <br/>
  <input type="number" name="age" ngModel placeholder="Enter Age" required/>
  <br/>
  <button>Register</button>
</form> -->
<ul>
  <li>{{userData.name}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.age}}</li>
</ul>
<h1>Partition</h1>
<input type="text" placeholder="Enter new Task" #task/>
<br/>
<button (click)="addTask(task.value)">Add</button>
<br/>
<ul *ngFor="let item of list">
  <li>{{item.name}}  <button (click)="removeTask(item.id)">Remove</button></li>
</ul>
<br/>
<br/>
<br/>
<app-child [item]="value" (updateDataEvent)="updateData($event)"></app-child>
<h2>{{status}}</h2>
<button (click)="updateChild()">Update Child Component</button>
<ul *ngFor="let user of userDetails">
  <app-user-details [item]="user"></app-user-details>

</ul>
<input type="text" [(ngModel)]="current" placeholder="Enter Name"/>
<br/>
<h2>{{current}}</h2>
<input type="text" #box name="user" placeholder="Enter user name"/>
<button (click)="getVal(box)">Call Function</button>
<h2>{{today | date:'fullDate'}}</h2>
<h3>{{2.3 | number : '3.3-5'}}</h3>
<h3>{{20 | currency:"INR"}}</h3>
<h3>{{"hello how are you "}}</h3>
<br/>
<br/>
<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
  <input type="text" name="username" ngModel placeholder="Enter Username" />
  <br/>
  <input type="password" name="password" ngModel placeholder="Enter Password"  />
  <br/>
  <button>Login</button>
  </form> -->
  <br/>
  <br/>
  <!-- <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" name="username" ngModel placeholder="Enter Username" formControlName="user" />
    <br/>
    <span style="color:red;" *ngIf="user && user.invalid && user.touched">This field is not valid</span>
    <br/>
    <input type="password" name="password" ngModel placeholder="Enter Password" formControlName="password"  />
    <br/>
    <span style="color:red;" *ngIf="password && user.password && user.touched">This field is not valid</span>
    <br/>
    <button [disabled]="loginForm.invalid" >Login</button>
    </form> -->
    <br/>
    <h1>Header</h1>
    <ul>
      <li *ngFor="let user of users2">
        {{user.email}}:{{user.age}}

      </li>
    </ul>
    <app-footer></app-footer>
    <h1>Post API method</h1>
 <form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
    <input type="text" ngModel placeholder="Enter Username"  name="name"/>
    <br/>
    <br/>
    <input type="text" ngModel placeholder="Enter Email" name="email"  />
    <br/>
    <br/>
    <button >Add New User</button>
    </form>